:root {
  --fColor: #b95356;
  --sColor: #26292e;
  --bgColor: #2f3238;
  --transition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: "Mi fuente";
  src: url("../fonts/TitilliumText25L/TitilliumText25L003.otf") format("opentype");
}
body {
  font-family: "Mi fuente", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  background: #26292e;
}
body > div {
  visibility: hidden;
}

.diapositivas {
  width: 100%;
  color: white;
  position: relative;
  background: #2f3238;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.4);
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  cursor: default;
  background: var(--bgColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows button {
  background: var(--sColor);
  font-size: 1.4em;
  color: white;
  padding: 8px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  clear: both;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.arrows button:hover {
  background: var(--fColor);
}

.corners {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.option {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin: 5px;
  background: transparent;
  border: 2px solid var(--fColor);
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.option:hover {
  background: var(--fColor);
}
.option.fill {
  background: var(--fColor);
}

.inicio {
  background: #2f3238;
  color: white;
  text-align: center;
}
.inicio header {
  background: #26292e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  padding: 40px 0 20px 0;
}

.logo {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px;
}

.menu a {
  color: white;
  text-transform: uppercase;
  padding: 15px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.menu a:hover {
  color: #b95356;
}

.menuMovil {
  display: none;
}

.galeria {
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.galeria li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  border: 2px solid #505256;
}
.galeria li img {
  width: 100%;
  height: 100%;
}

.nosotros {
  background: #26292e;
  color: white;
  text-align: center;
}

.equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  text-align: left;
  padding: 40px 0;
}
.equipo li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
}
.equipo li div {
  width: 100%;
}
.equipo li div img {
  width: 100%;
}
.equipo li h3 {
  margin: 10px 0;
}
.equipo li p {
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
}
.equipo li a {
  color: rgba(255, 255, 255, 0.3);
  margin-right: 20px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.equipo li a:hover {
  color: #b95356;
}

footer {
  background: #2f3238;
  color: white;
  width: 100%;
  text-align: center;
}

.contenedorDatos {
  padding: 30px 0;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo, .contenedorDatos p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.datosEntrada {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.datosSalida {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: left;
  padding-left: 30px;
}

.datosLabCrea {
  color: rgba(255, 255, 255, 0.5);
}

#formularioPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
#formularioPrincipal input {
  margin: 2px 0;
  padding: 15px;
  background: #26292e;
  font-size: 0.8em;
  border-bottom: 2px solid transparent;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
#formularioPrincipal input:focus {
  border-bottom: 2px solid #b95356;
  color: white;
}
#formularioPrincipal input[type=submit] {
  background: #616773;
  color: white;
  font-size: 0.8em;
  width: 150px;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  border: none;
}
#formularioPrincipal input[type=submit]:hover {
  background: #b95356;
}
#formularioPrincipal textarea {
  margin: 2px 0;
  padding: 15px;
  background: #26292e;
  font-size: 0.8em;
  height: 300px;
  border-bottom: 2px solid transparent;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
#formularioPrincipal textarea:focus {
  border-bottom: 2px solid #b95356;
  color: white;
}

.redesSociales {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.redesSociales .icono {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  padding: 10px;
  background: #26292e;
  margin: 10px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.redesSociales .icono:hover {
  background: #b95356;
  color: white;
}

.contenidoPie {
  background: #26292e;
  padding: 30px 0;
  font-size: 1.2em;
}
.contenidoPie p span {
  color: #b95356;
}

@media screen and (max-width: 780px) {
  .menu {
    display: none;
  }

  .menuMovil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    cursor: pointer;
  }
  .menuMovil li {
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px 0;
  }

  .galeria {
    width: 95%;
  }
  .galeria li {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }

  .equipo {
    width: 90%;
  }
  .equipo li {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
  .equipo li:last-child {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 0 auto;
  }

  .contenedorDatos {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .galeria li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .equipo li {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }

  .contenedorDatos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .datosEntrada {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .datosSalida {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 0;
    margin: 20px 0;
  }

  .redesSociales {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}